*.d
*.pre
*.p1
*.lst
*.log
*.log.inx
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.map
*.properties
*.production
*.debug
*.dump
*.ctu-info
Gem*
nbdist/
nbbuild/
nbactions.xml
nb-configuration.xml
funclist
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/*.X/.generated_files
**/*.X/debug
**/*.X/dist
**/*.X/build
